body{
background-color: #999999;
}
.Nappula{
  background-color:#000;
  color: #ffffff;
  padding: 0px;
  border: none;
  text-decoration: none;

}
.Nappula:hover{
  background-color:#ff0000;
  color:#ffffff;
}
.Nappula:active{
  color:#ffffff;
}
.Nappula{
  postion: fixed
  top: 100px;
  left: 250px;
}
.asemointi{
  position: fixed;
  top: 100px;
  left: 250px;
}
.linkkilista ul{
    list-style-type: none;
    color: #ffffff
}
.linkkilista:active{
  color: #ffffff
}
.linkkilista li{
  border-bottom: dashed 1px white;
}
.linkkilista{
  color:#ffffff;
}
.opinnot{
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
}
.linkkilista{
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
}
.tyokokemus {
  position: relative;
  text-align: center;
  color: #ce18bf;
}
.bottom-left {
  position: absolute;
  bottom: 250px;
  left: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 250px;
  right: 16px;
}
.bottom-right2 {
  position: absolute;
  bottom: 220px;
  right: 16px;
}
.bottom-left2 {
  position: absolute;
  bottom: 220px;
  left: 16px;
}
.painike{
  background-color:#000;
  color: #ffffff;
  padding: 0px;
  border: none;
  text-decoration: none;
}
.painike{
  position: fixed;
  top: 100px;
  left: 250px;
}
.painike{
padding: 10px;
}
.alue{
  background-color: rgb(11, 195, 228);
  color:rgb(194, 24, 24);
  width: 70%;
  margin: auto;
  border-style: double;
}
.laatikko{
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 25px;
}

.yhteydenotto label{
  display: block;
}
.yhteydenotto input[type="text"], .yhteydenotto textarea, input[type="email"], input[type="number"], input[type="date"], input[type="etunimi"], input[type="sukunimi"]{
  padding: 10px;
  width: 97%;
}

.Vaalea{
  background-color:rgb(231, 231, 231);
  color: #0c0a0a;
  padding: 0px;
  border: none;
  text-decoration: none;
}

.Tumma{
  background-color:rgb(19, 7, 7);
  color: #dddddd;
  padding: 0px;
  border: none;
  text-decoration: none;
}
.Sateenkaari{
  background-color:rgb(172, 9, 9);
  color: #9202ca;
  padding: 0px;
  border: none;
  text-decoration: none;
}
.virhe{
  background: rgb(148, 0, 0);
  color: #fff;
  padding: 10px;
  margin: 10px;
}
.korona{
  border-style: solid;
  border-color: #000;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}